<h1>{{title}}</h1>

<div class="container">

    <div>
        <h2>Administration</h2>


        <form [formGroup]="administrationForm">

            <div class="form-group">
                <label>Entity</label>
                <select class="form-control" required (change)="onSelectEntity(entity)" >
                    <option *ngFor="let entity of entitys"> {{entity.entity_id}} - {{entity.entity_code}}
                    </option>
                </select>
              <li *ngFor="let entity of entitys"  class="form-control" (click)="onSelectEntity(entity)">
                {{entity.entity_code}}
              </li>
            </div>
        </form>
      {{administrationForm.value | json}}
    </div>

    <div [hidden]="!entitySelect">
        <nav>
            <a [routerLink]="['RfidMonitor',{entityId: entityId}]">RFID Monitor</a>
            <a [routerLink]="['RfidReader',{entityId: entityId}]">RFID Reader</a>
            <a [routerLink]="['UserProfile',{entityId: entityId}]">User Profile</a>
        </nav>
        <router-outlet></router-outlet>
    </div>

</div>

