<h1>{{title}}</h1>

<div class="container">

    <div>
        <h2>Administration</h2>


        <form [formGroup]="administrationForm">

            <div class="form-group">
                <label>Entity</label>
                <select formControlName="entity" class="form-control" required (change)="onSelectEntity(administrationForm.value)">
                    <option *ngFor="let entity of entitys" [value]="entity.entity_id">{{entity.entity_code}}
                    </option>
                </select>
            </div>
        </form>
      {{administrationForm.value}}
      {{value}}
      {{entity}}
    </div>

    <div [hidden]="!entitySelect">
        <nav>
            <a [routerLink]="['RfidMonitor',{entityId: entityId}]">RFID Monitor</a>
            <a [routerLink]="['RfidReader',{entityId: entityId}]">RFID Reader</a>
            <a [routerLink]="['UserProfile',{entityId: entityId}]">User Profile</a>
        </nav>
        <router-outlet></router-outlet>
    </div>

</div>

